<!-- Banner-Community Section -->
<section id="banner-community">
  <div class="container banner-community">
    <div class="row">
      <div class="col-md-6 col-sm-6 d-flex align-items-center">
        <div>
          <p class="promo-title">Comunidade dos Programadores </p>
          <p>Aprender a programar, a desenvolver, a planejar seus projetos para gerar resultados faz muito sentido. Mas também é preciso 
              conquistar clientes e aqui você também aprende a empreender seu negócio.</p>
          <a class="btn" href="http://cursos.torneseumprogramador.com.br/?ref=O25447624Q" target="_blanck">Conheça nossa Comunidade</a> 
        </div>
      </div>
      <br>
      <div class="col-md-6 col-sm-6 div-img-community text-center">
        <img src="/image/group_chat.svg" class="img-fluid img-banner-community">
      </div>
    </div>
  </div>
</section>