<!-- Courses Section -->
<section id="courses">
  <br>
  <h2 class="title text-center">Cursos</h2>
  <div class="courses">
  <div>
    <a href="/aulas/front-end"><img src="/image/capas/CapaHTMLCSS.png"></a>
    <div class="content-legend">
      <h6>Curso de HTML5 e CSS3 para Iniciantes</h6>
      <span>Camila Felix</span>
    </div>
  </div>
  <div>
    <a href="/aulas/danilo/javascript"><img src="/image/capas/CapaJavaScript.png"></a>
    <div class="content-legend">
      <h6>Curso de Javascript do Zero ao Profissional</h6>
      <span>Danilo Aparecido</span>
    </div>
  </div>
  <div>
    <a href="/aulas/performance-web"><img src="/image/capas/CApaCache.png"></a>
    <div class="content-legend">
    <h6>Curso de Performance Web Avançado</h6>
    <span>Danilo Aparecido</span>
  </div>       
  </div>
  <div>
    <a href="/aulas/integracao-continua"><img src="/image/capas/CapaIntegracaoContinua.png"></a>
    <div class="content-legend">
    <h6>Curso de Integração Contínua Avançado</h6>
    <span>Danilo Aparecido</span>
  </div>
  </div> 
  <div>
    <a href="/aulas/c-sharp"><img src="/image/capas/CapaCSharp.png"></a>
    <div class="content-legend">
      <h6>Curso de C# do Zero ao Profissional</h6>
      <span>Danilo Aparecido</span>
    </div>
  </div>
  <div>
    <a href="/aulas/angular"><img src="/image/capas/CapaCSharpAngular.png"></a>
    <div class="content-legend">
    <h6>Curso de Angular com API .Net Avançado</h6>
    <span>Danilo Aparecido</span>
  </div>       
  </div>
  <div>
    <a href="/aulas/vuejs"><img src="/image/capas/CapaCSharpVue.png"></a>
    <div class="content-legend">
    <h6>Curso de Vue.js com API .Net Avançado</h6>
    <span>Danilo Aparecido</span>
  </div>       
  </div>
  <div>
    <a href="/aulas/ruby"><img src="/image/capas/CapaRuby.png"></a>
    <div class="content-legend">
      <h6>Curso de Ruby do Zero ao Profissional</h6>
      <span>Danilo Aparecido</span>
    </div>
  </div>
  <div>
    <a href="/aulas/php"><img src="/image/capas/CapaPHP.png"></a>
    <div class="content-legend">
      <h6>Curso de PHP para Iniciantes</h6>
      <span>Acley Pinheiro</span>
    </div>
  </div>
  <div>
    <a href="/aulas/wordpress"><img src="/image/capas/CapaWordPress.png"></a>
    <div class="content-legend">
      <h6>Curso de Wordpress para Iniciantes</h6>
      <span>Danilo Aparecido</span>
    </div>
  </div>
  <div>
    <a href="/aulas/sql-server"><img src="/image/capas/CapaBD.png"></a>
    <div class="content-legend">
      <h6>Curso de SQL Server para Iniciantes</h6>
      <span>Fernando Gazeta</span>
    </div>
    
  </div>
  <div>
    <a href="/aulas/aplicativos"><img src="/image/capas/CapaPhonegap.png"></a>
    <div class="content-legend">
      <h6>Curso de Desenvolvimento de Aplicativos para Iniciantes</h6>
      <span>Adrian Medeiros</span>
    </div>
    
  </div>
  <div>
    <a href="/aulas/arquitetura"><img src="/image/capas/CapaArquitetura.png"></a>
    <div class="content-legend">
      <h6>Curso de Arquitetura de Software para Iniciantes</h6>
      <span>Danilo Aparecido</span>
    </div>       
    </div>
    <div>
      <a href="/aulas/negocios-tecnologicos"><img src="/image/capas/CapaNegócios.png"></a>
      <div class="content-legend">
      <h6>Curso de Negócios em Tecnologia para Iniciantes</h6>
      <span>Danilo Aparecido</span>
    </div>       
    </div>
    <div></div>
  </div>
  <br> <br>
</section> 
