<header id="nav-bar">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/"><img src="/image/imageonline-co-transparentimage.png"> </a>
    <button class="navbar-toggler hidden-lg-up" href="#collapseExample" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
      <svg class="svg-inline--fa fa-bars fa-w-14" style="color: #fff;" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="bars" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"></path></svg><!-- <i class="fa fa-bars" style="color: #fff;" aria-hidden="true"></i> -->
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <form action="/busca" method="GET">
        <div class="d-flex justify-content-center collapse-form">
          <div class="d-flex justify-content-center"></div>
            <div class="input-group col-md-8">
              <input type="text" class="form-control input-pesquisa" required="" id="aula" name="q" value="" placeholder="Qual assunto deseja pesquisar?">
              <div class="input-group-append">
                <input class="input-group-text input-style" type="submit" value="Buscar" id="basic-addon2">
              </div> 
          </div>
        </div>
      </form>
      
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cursos">Cursos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://cursos.torneseumprogramador.com.br/?ref=O25447624Q" target="_blanck">Comunidade</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://medium.com/@torneseumprogramador" target="_blanck">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://anchor.fm/torneseumprogramador" target="_blanck">Podcast</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/agenda">Agendar</a>
        </li>
      </ul>
      <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" class="icon-search">
        <svg class="svg-inline--fa fa-search fa-w-16" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="search" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path></svg><!-- <i class="fa fa-search" aria-hidden="true"></i> -->
      </a>
    </div>
  </nav>
</header>

<form action="/busca" method="GET">
  <div class="collapse text-center align-items-center" id="collapseExample">
    <div class="d-flex justify-content-center">
      <div class="d-flex justify-content-center"></div>
        <div class="input-group col-md-8">
          <input type="text" class="form-control input-pesquisa" required="" id="aula" name="q" value="" placeholder="Qual assunto deseja pesquisar?">
          <div class="input-group-append">
            <input class="input-group-text" style="background-color: #0b6b97; color: #fff; font-weight: bold;border: 0; border-radius: 0;" type="submit" value="Buscar" id="basic-addon2">
          </div> 
      </div>
    </div>
    <br>
  </div>
</form>